<div class="hero hero-sm">
  <div>
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class="wrapper">
  <section>
    <div class="card">
      <h2 class="card-title">{{content.message}}</h2>
      <div class="mt-6">
        {{#if content.tryAgainHref}}
          <a href="{{content.tryAgainHref}}" class="btn btn-primary">Try again</a>
        {{/if}}
        <a href="{{content.continueHref}}" class="btn btn-outline ml-2">Continue</a>
      </div>
    </div>
  </section>
</div>
