{{! Legacy-claim orientation card for the login visitor entry. }}
<div class="card card-static">
  <div class="card-title">Had an account on the old footbag.org?</div>
  <p class="card-description">You will need to <a href="/register">create a new account</a> here first to become a member in the new system. During setup, you can link to your historical data, such as event results, and club affiliation.</p>
</div>
