<section>
  <div class="section-heading">
    <h2>Quick Actions</h2>
  </div>
  <div class="quick-actions">
    {{#each this}}
      <a href="{{href}}" class="btn btn-primary">{{label}}</a>
    {{/each}}
  </div>
</section>
