<div class="profile-section">
  <h2 class="profile-section-heading">Quick Actions</h2>
  <div class="quick-actions">
    {{#each this}}
      <a href="{{href}}" class="btn btn-primary">{{label}}</a>
    {{/each}}
  </div>
</div>
