{{!--
  Tutorials + Demonstrations grid pair. Used by both the reference-media
  section and the featured-media block.
--}}
{{#if content.tutorialMedia.length}}
<div class="reference-media-subsection reference-media-subsection--tutorials">
  <h3 class="reference-media-subheading">Tutorials</h3>
  <ul class="reference-media-grid">
    {{#each content.tutorialMedia}}
      <li class="reference-media-tile">
        {{#if media}}
          {{> video-facade media=media}}
        {{/if}}
        {{#if caption}}<p class="reference-media-caption">{{caption}}</p>{{/if}}
        {{#if sourceLabel}}<p class="reference-media-source"><span>{{sourceLabel}}</span></p>{{/if}}
        {{> media-tag-strip tags=tags}}
      </li>
    {{/each}}
  </ul>
</div>
{{/if}}

{{#if content.demoMedia.length}}
<div class="reference-media-subsection reference-media-subsection--demos">
  <h3 class="reference-media-subheading">Demonstrations</h3>
  <ul class="reference-media-grid">
    {{#each content.demoMedia}}
      <li class="reference-media-tile">
        {{#if media}}
          {{> video-facade media=media}}
        {{/if}}
        {{#if caption}}<p class="reference-media-caption">{{caption}}</p>{{/if}}
        {{#if sourceLabel}}<p class="reference-media-source"><span>{{sourceLabel}}</span></p>{{/if}}
        {{> media-tag-strip tags=tags}}
      </li>
    {{/each}}
  </ul>
</div>
{{/if}}
