{{! 403 Forbidden }}
<div class="wrapper">
  <div class="error-page">
    <div class="error-code">403</div>
    <h2>{{page.title}}</h2>
    <p>You don't have permission to view this page.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
  </div>
</div>
