<div class="hero hero-sm">
  <div>
    <h1>Logging out</h1>
  </div>
</div>

<div class="wrapper">
  <section>
    <p>One moment.</p>
    <form id="logout-bridge-form" method="POST" action="/logout">
      <button type="submit" class="btn btn-primary">Click here if logout does not happen automatically.</button>
    </form>
    <script src="{{{asset 'js/logout-bridge.js'}}}" defer></script>
  </section>
</div>
