<div class="hero hero-sm">
  <div>
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class="wrapper">
  <section>
    <p>This record has been claimed by another member. If you believe this is an error, please contact an admin for help.</p>
    <p class="mt-4"><a href="{{content.contactAdminHref}}" class="btn btn-primary">Contact admin</a></p>
    <p class="mt-2"><a href="/members">Back to dashboard</a></p>
  </section>
</div>
