{{> player-hero heroData=content.heroData}}

<div class="wrapper">

  {{#if content.avatarThumbUrl}}
  <div style="text-align:center; margin-bottom:24px">
    <img src="{{content.avatarThumbUrl}}" alt="{{content.displayName}}" class="profile-avatar-img" />
  </div>
  {{/if}}

  {{#unless content.hofMember}}{{#unless content.bapMember}}
  <div class="card mb-4">
    <p class="card-description">This is a historical record linked to competitive footbag results. It is not a current member account.</p>
  </div>
  {{/unless}}{{/unless}}

  <section>
    {{#each navigation.contextLinks}}
      <a href="{{href}}" class="back-link">&#8592; {{label}}</a>
    {{/each}}

    {{> player-results eventGroups=content.eventGroups}}
  </section>
</div>
